.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: hsl(228deg, 33%, 97%);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  width: min(90%, 45rem);
  margin-top: 2rem;
  position: relative;
}

.form-container,
.comment-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: white;
}

.reply-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: calc(10% - 0.2rem);
  border-left: 0.2rem solid hsl(223deg, 19%, 93%);
}

.vote-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  grid-column: 1/2;
  grid-row: 3/4;
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(228deg, 33%, 97%);
  z-index: 1;
}
.vote-container button img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vote-container button:hover {
  filter: brightness(0) saturate(100%) invert(29%) sepia(61%) saturate(1027%) hue-rotate(209deg) brightness(100%) contrast(88%);
}
.vote-container p {
  color: hsl(238deg, 40%, 52%);
  font-weight: 700;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: max(1.5vw, 0.5rem);
  grid-column: 1/4;
  grid-row: 1/2;
}
.user-info .user-name {
  font-weight: 700;
}
.user-info .you {
  font-size: 13px;
  background-color: hsl(238deg, 40%, 52%);
  color: white;
  padding: 0 0.3rem 0.2rem 0.3rem;
}
.user-info .created-at {
  color: hsl(211deg, 10%, 45%);
}

.avatar img {
  width: 2rem;
  height: 2rem;
}

.comment {
  color: hsl(211deg, 10%, 45%);
  grid-column: 1/4;
  grid-row: 2/3;
}
.comment:focus {
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid hsl(238deg, 40%, 52%);
}

span {
  color: hsl(238deg, 40%, 52%);
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  grid-column: 2/-1;
}
.button-container .action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
}
.button-container .action-button:not(.red) {
  color: hsl(238deg, 40%, 52%);
}
.button-container .action-button:not(.red):hover {
  filter: invert(79%) sepia(24%) saturate(410%) hue-rotate(201deg) brightness(99%) contrast(88%);
}
.button-container .action-button:not(.blue) {
  color: hsl(358deg, 79%, 66%);
}
.button-container .action-button:not(.blue):hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(5359%) hue-rotate(289deg) brightness(106%) contrast(102%);
}

.textarea {
  resize: none;
  border: none;
  padding: 0.5rem 1rem;
  border: 2px solid hsl(223deg, 19%, 93%);
  border-radius: 0.5rem;
  color: hsl(211deg, 10%, 45%);
}
.textarea:focus {
  outline: none;
  border: 1px solid hsl(238deg, 40%, 52%);
}

.form-container .avatar {
  grid-column: 1/2;
  grid-row: 2/3;
}
.form-container .textarea {
  grid-column: 1/4;
  grid-row: 1/2;
  height: 4rem;
  cursor: pointer;
}
.form-container .blue-button {
  grid-column: 3/4;
  grid-row: 2/3;
}

.blue-button {
  background-color: hsl(238deg, 40%, 52%);
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.blue-button:hover {
  background-color: hsl(239deg, 57%, 85%);
}

.comment-container .blue-button {
  display: none;
  z-index: 2;
  grid-column: 1/2;
  grid-row: 3/4;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: white;
}
.modal-container .modal-buttons {
  width: 100%;
}
.modal-container .modal-buttons button {
  width: calc(50% - 0.4rem);
  height: 3rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 700;
}
.modal-container .modal-buttons button:first-of-type {
  background-color: hsl(211deg, 10%, 45%);
  float: left;
}
.modal-container .modal-buttons button:first-of-type:hover {
  background-color: hsl(223deg, 19%, 93%);
}
.modal-container .modal-buttons button:last-of-type {
  background-color: hsl(358deg, 79%, 66%);
  float: right;
}
.modal-container .modal-buttons button:last-of-type:hover {
  background-color: hsl(357deg, 100%, 86%);
}

@media (min-width: 375px) {
  #app-container {
    padding-left: 0.5rem;
    gap: 1rem;
  }
  .blue-button {
    height: 2rem;
    width: 5rem;
  }
  .comment-container {
    grid-template-columns: repeat(8, 1fr);
    padding: 1.5rem 1rem;
  }
  .comment-container .vote-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    width: 2.5rem;
    height: 6rem;
  }
  .comment-container .user-info {
    grid-column: 2/7;
    grid-row: 1/2;
  }
  .comment-container .comment {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  .comment-container .button-container {
    grid-column: 7/9;
    margin-right: 0.5rem;
  }
  .comment-container .update {
    grid-column: 8/9;
    grid-row: 3/4;
    margin-right: 0.5rem;
  }
  #app-container .reply-container {
    width: 93%;
    padding-left: calc(7% - 0.2rem);
  }
  #app-container .form-container {
    grid-template-columns: repeat(14, 1fr);
    padding: 1.5rem;
  }
  #app-container .form-container .avatar {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #app-container .form-container .textarea {
    grid-column: 2/13;
    grid-row: 1/3;
    height: 5rem;
  }
  #app-container .form-container .reply-upload,
#app-container .form-container .send-upload {
    grid-column: 13/15;
    grid-row: 1/2;
  }
}/*# sourceMappingURL=main.css.map */