@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.attribution {
    font-size: 11px; text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}

@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.app-container {
    padding: 1rem
}

.vote-container {
    @include flex(row, center, center);
    gap: .5rem;

    background-color: $background-color;
    border-radius: .3rem;
    button {
        img {
            display: block;
            margin: 0 auto;
        }
        &:hover {
            filter: $filter-blue;
        }
    }
    p {
        color: $text-blue;
        font-weight: 700;
    }
}

.user-info {
    @include flex(row, center, flex-start);
    gap: .5rem;
    .avatar {
        img {
            width: 2rem;
            height: 2rem;
        }
    }
    .user-name {
        font-weight: 700;
    }
    .created-at {
        color:$text-grey;
    }
}
.comment {
    color:$text-grey;
    
}
.button-container {
    @include flex(row, center, flex-end);
    gap: .5rem;
    .action-button {
        @include flex(row, center, center);
        gap: .5rem;

        font-weight: 700;
        &:not(.delete) {
            color: $text-blue;
            &:hover {
                filter: $filter-blue-pale;
            }
        }
        .delete {
            color: $text-red;
            &:hover {
                filter: $filter-red-pale;
            }
        }
    }
}