@use "./variables" as *;


@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.attribution {
    font-size: 11px; text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    @include flex(column, center , space-between);

    width: 100vw;
    background-color: $background-color;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

#app-container {
    @include flex(column, flex-end, center);
    gap: 1rem;

    width: min(90%, 45rem);
    margin-top: 2rem;

}
.form-container,
.comment-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    background-color: white;
}

.reply-container {
    @include flex(column, center, center);
    gap: 1rem;

    padding-left: calc(10% - .2rem);
    border-left: .2rem solid $border-grey;
}

.vote-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: .5rem;

    grid-column: 1 / 2;
    grid-row: 3 / 4;

    width: 90%;
    padding: .5rem;
    border-radius: .5rem;
    background-color: $background-color;
    button {
        img {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            filter: $filter-blue;
        }
    }
    p {
        color: $text-blue;
        font-weight: 700;
    }
}

.user-info {
    @include flex(row, center, flex-start);
    gap: max(1.5vw, .5rem);
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    .user-name {
        font-weight: 700;
    }
    .you {
        font-size: 13px;
        background-color: $text-blue;
        color: white;
        padding: 0 .3rem .2rem .3rem;
    }
    .created-at {
        color:$text-grey;
    }
}
.avatar {
    img {
        width: 2rem;
        height: 2rem;
    }
}


.comment {
    color:$text-grey;
    grid-column: 1 / 4;
    grid-row: 2 / 3;

}
span {
    color: $text-blue;
    font-weight: 700;
}

.button-container {
    @include flex(row, center, flex-end);
    gap: .5rem;
    grid-column: 2 / -1;
    .action-button {
        @include flex(row, center, center);
        gap: .5rem;

        font-weight: 700;
        &:not(.red) {
            color: $text-blue;
            &:hover {
                filter: $filter-blue-pale;
            }
        }
        &:not(.blue){
            color: $text-red;
            &:hover {
                filter: $filter-red-pale;
            }
        }
    }
}
textarea {
    resize: none;
    border: none;
    padding: .5rem 1rem;

    border: 2px solid $border-grey;
    border-radius: .5rem;
    color: $text-grey;

    &:focus {
        outline: none;
        border: 1px solid $text-blue;
    }

}

.form-container {

    .avatar {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .textarea {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        
        height: 4rem;

        cursor: pointer;
    }
    .blue-button {
        grid-column: 3 / 4;
        grid-row: 2 / 3;

        background-color: $text-blue;
    
        border-radius: .5rem;

        color: white;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
            background-color: $text-blue-pale;
        }
    }
}





@media (min-width:375px) {
    .app-container {
        padding-left: .5rem;
        gap: 1rem;
    }

    // adjust comment container
    .comment-container {
        grid-template-columns: repeat(8, 1fr);
        padding: 1.5rem 1rem;
 
        .vote-container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);

            grid-column: 1 / 2;
            grid-row: 1 / 3;
           
            justify-self: center;
            

            width: 2.5rem;
            height: 6rem;
        }
        .user-info {
            grid-column: 2 / 7;
            grid-row: 1 / 2;
        }
        .comment {
            grid-column: 2 / -1;
            grid-row: 2 / 3;
        }
        .button-container {
            grid-column: 7 / 9;
            margin-right: .5rem;
        }
    }

    // adjyust reply container
    .app-container {
        .reply-container {
            width: 93%;
            padding-left: calc(7% - .2rem);
        }
    }

    // ajust other forms
    .app-container {
        .form-container {
            grid-template-columns: repeat(14, 1fr);
            padding: 1.5rem;
            .avatar {
                grid-row: 1 / 2;
            }
            .textarea {
                grid-column: 2 / 13;
                grid-row: 1 / 3;
                height: 5rem;
            }
            .blue-button {
                grid-column: 13 / 15;
                grid-row: 1 / 2;

           
            }
        }
    }
}