@use "./variables" as *;

@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.attribution {
    font-size: 11px; text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    width: 100vw;
    background-color: $background-color;
    @include flex(column, center , space-between);

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.app-container {
    padding: 1rem;
    background-color: white;
    width: 90%;
    margin-top: 2rem;
    border-radius: .5rem;
    @include flex(column, flex-start, flex-start);
    gap: .5rem;
}

.comment-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem
}

.vote-container {
    @include flex(row, center, center);
    gap: .5rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    width: 90%;
    padding: .5rem;
    border-radius: .5rem;
    background-color: $background-color;
    button {
        img {
            display: block;
            margin: 0 auto;
        }
        &:hover {
            filter: $filter-blue;
        }
    }
    p {
        color: $text-blue;
        font-weight: 700;
    }
}

.user-info {
    @include flex(row, center, flex-start);
    gap: .5rem;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    .avatar {
        img {
            width: 2rem;
            height: 2rem;
        }
    }
    .user-name {
        font-weight: 700;
    }
    .created-at {
        color:$text-grey;
    }
}

.comment {
    color:$text-grey;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.button-container {
    @include flex(row, center, flex-end);
    gap: .5rem;
    grid-column: 2 / -1;
    .action-button {
        @include flex(row, center, center);
        gap: .5rem;

        font-weight: 700;
        &:not(.delete) {
            color: $text-blue;
            &:hover {
                filter: $filter-blue-pale;
            }
        }
        .delete {
            color: $text-red;
            &:hover {
                filter: $filter-red-pale;
            }
        }
    }
}

